.status-groups {
    display: flex;
    flex-wrap: nowrap; 
    overflow-x: auto; 
    gap: 16px;
    margin: 20px;
    justify-content: center;
    border-radius: 20px;
  }
  
  .status-group {
    flex: 0 0 auto; 
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 20px;
  }
  
  .cards-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  